<footer class="footer-new">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-logo-section">
        <a href="/move/about" class="logo-text-wrapper footer-override">
          <span class="logo-part-1">Move</span>
          <span class="logo-part-2">OUT</span>
        </a>
      </div>
      <p class="footer-text">
        &copy; <span id="year"></span> MoveOut. All rights reserved.
      </p>
    </div>
  </div>

  <script src="/js/script.js"></script>
</footer>
