<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="icon" href="/public/style/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <!-- Logo with Carton Icon -->
        <div class="logo">
          <div class="carton"></div>
          <a href="/move/about">MoveOut</a>
        </div>
        <!-- Navigation Menu -->
        <ul class="nav-menu">
          <li><a href="/move/about">About</a></li>
          <% if (user && user?.isAdmin) { %>
          <!-- If the user is logged in and is an admin -->
          <li><a href="/move/admin/user">Admin</a></li>
          <% } %> <% if (user) { %>
          <!-- If the user is logged in -->
          <li><a href="/move/profile">Profile</a></li>
          <li><a href="/move/boxes">My Boxes</a></li>
          <li><a href="/move/boxes/create">Add Box</a></li>
          <li><a href="/move/logout">Logout</a></li>
          <% } else { %>
          <!-- If the user is not logged in -->
          <li><a href="/move/login">Login</a></li>
          <li><a href="/move/register">Register</a></li>
          <% } %>
        </ul>
        <!-- Hamburger Menu Icon -->
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>
    <script>
      const hamburger = document.querySelector(".hamburger");
      const navMenu = document.querySelector(".nav-menu");

      hamburger.addEventListener("click", () => {
        navMenu.classList.toggle("active");
      });
    </script>
  </body>
</html>
